// В этом файле должны быть стили для БЭМ-блока news, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {

  $block-name:                &; // #{$block-name}__element

  &__inner {

    @media (min-width: $screen-xl) {
      width: 100%;
      max-width: 1224px;
      margin: 0 auto;
    }
  }

  &__grid {

    @media (min-width: $screen-xl) {
      display: flex;
    }
  }

  &__items {

    @media (min-width: $screen-xl) {
      width: 100%;
      max-width: 808px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;
    }
  }

  &__bar {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    background-color: #007aff;
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
    }
  }

  &__item {
    height: 445px;
    width: 272px;
    background-color: #ffffff;

    @media (min-width: 375px) {
      min-width: 272px;
      width: auto;
    }
  }

  &__wrap-item {

    @media (min-width: $screen-xl) {
      margin-bottom: rem(24px);
    }
  }
}
