//- Все примеси в этом файле должны начинаться c имени блока (news)

mixin news(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' news--' + modsList[i].trim();
      }
    }

  section.news(class=allMods)&attributes(attributes)
    .news__inner
      +heading('Новости')
      .news__grid
        .news__items#news
          .news__wrap-item
            article.news__item.elevation
              a(href='#').news__article-link
                header.news__header
                  time.date
                    .date__number 25
                    .date__inner
                      .date__mounth марта
                      .date__day понедельник
                  +label('#Новости', 'div')
                .news__content
                  .news__head
                    h2.news__title
                      | Консьерж-сервис Иннополиса отмечен профессиональной наградой
                    p.news__desc
                      | Команда консьерж-сервиса города Иннополис стала победителем международной программы индустрии контактных центров «Хрустальная Гарнитура» в номинации «Лучшая небольшая команда»
                  figure.news__picture
                    img(src='img/news.jpg', alt='')
          .news__wrap-item
            article.news__item.elevation
              a(href='#').news__article-link
                header.news__header
                  time.date
                    .date__number 9
                    .date__inner
                      .date__mounth марта
                      .date__day понедельник
                  +label('#отборвбизнесинкубатор', 'div')
                .news__content
                  .news__head
                    h2.news__title
                      | Консьерж-сервис Иннополиса отмечен профессиональной наградой
                    p.news__desc
                      | Команда консьерж-сервиса города Иннополис стала победителем международной программы индустрии контактных центров «Хрустальная Гарнитура» в номинации «Лучшая небольшая команда»
                  figure.news__picture
                    img(src='img/news.jpg', alt='')
                footer.news__footer
                  .news__wrap-btn
                    +btn('Подать заявку', 'main, size_sm').news__btn


          .news__wrap-item
            article.news__item.elevation
              a(href='#').news__article-link
                header.news__header
                  time.date
                    .date__number 9
                    .date__inner
                      .date__mounth марта
                      .date__day понедельник
                  +label('#отборвбизнесинкубатор', 'div')
                .news__content
                  .news__head
                    h2.news__title
                      | Консьерж-сервис Иннополиса отмечен профессиональной наградой
                    p.news__desc
                      | Команда консьерж-сервиса города Иннополис стала победителем международной программы индустрии контактных центров «Хрустальная Гарнитура» в номинации «Лучшая небольшая команда»
                  figure.news__picture
                footer.news__footer
                  .news__wrap-btn
                    +btn('Подать заявку', 'main, size_sm').news__btn

          .news__wrap-item
            article.news__item.elevation
              a(href='#').news__article-link
                header.news__header
                  time.date
                    .date__number 9
                    .date__inner
                      .date__mounth марта
                      .date__day понедельник
                  +label('#отборвбизнесинкубатор', 'div')
                .news__content
                  .news__head
                    h2.news__title
                      | Консьерж-сервис Иннополиса отмечен профессиональной наградой
                    p.news__desc
                      | Команда консьерж-сервиса города Иннополис стала победителем международной программы индустрии контактных центров «Хрустальная Гарнитура» в номинации «Лучшая небольшая команда»
                  figure.news__picture
                footer.news__footer
                  .news__wrap-btn

          +btn('Все новости', 'main, size_sm').news__more-btn(href='')

        .news__bar
