//- Все примеси в этом файле должны начинаться c имени блока (nav-semi)

mixin nav-semi(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +nav-semi('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav-semi--' + modsList[i].trim();
      }
    }

  .nav-semi&attributes(attributes)
    ul.nav-semi__list
      li.nav-semi__item
        a.nav-semi__link.link.link--bg(href='#') Дата-центр
      li.nav-semi__item
        a.nav-semi__link.link.link--bg(href='#') Конференц-услуги
      li.nav-semi__item
        a.nav-semi__link.link.link--bg(href='#') Бизнес-инкубатор
      li.nav-semi__item
        a.nav-semi__link.link.link--bg(href='#') Отель
