//- Все примеси в этом файле должны начинаться c имени блока (heading)

mixin heading(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +heading('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' heading--' + modsList[i].trim();
      }
    }

  h1.heading(class=allMods)&attributes(attributes)!= text
