// В этом файле должны быть стили для БЭМ-блока subscribe, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subscribe {
  $block-name: &; // #{$block-name}__element
  background-color: #ffffff;

  &__inner {
    position: relative;
    padding: 24px;
  }

  &__form {
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -54px;

    @media (min-width: $screen-xl) {
      margin-bottom: -42px;
    }
  }

  &__checks {
    display: none;

    @media (min-width: $screen-xl) {
      display: flex;
      padding-bottom: 1rem;
    }
  }

  &__col {

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
