// В этом файле должны быть стили для БЭМ-блока title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.title {

  $block-name:                &; // #{$block-name}__element

  color: rgba($text-color, 0.5);
  font-size: rem(16px);
  margin-bottom: rem(12px);
}
