//- Все примеси в этом файле должны начинаться c имени блока (date)

mixin date(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +date('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' date--' + modsList[i].trim();
      }
    }

  .date(class=allMods)&attributes(attributes)
    .date__inner!= text