// В этом файле должны быть стили для БЭМ-блока date, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.date {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: flex-start;
  color: rgba($text-color, 0.5);
  line-height: 1;
  white-space: nowrap;

  &__inner {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
  }

  &__number {
    font-size: rem(32px);
    margin-right: 6px;
  }

  &__mounth,
  &__day {
    font-size: rem(13px);
  }

  &__mounth {
    margin-bottom: 1px
  }
}
