// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element
  min-height: 40vh;

  &__panel {
    width: 100%;
    background-color: $color-main;
  }

  &__panel-inner {
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: 19px 0 14px;

    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      width: 0;
      display: none;
      background: transparent;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    margin-right: rem(50px);
  }

  &__nav-item {
    text-decoration: none;
    color: $white;
    padding: 10px 0 10px;

    &:not(:last-child) {
      margin-right: rem(50px);
    }
  }

  &__dropdown {
    display: flex;
    flex: 1 0 auto;
  }
}

.scroll {

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
