// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
.page-footer {

  $block-name: &; // #{$block-name}__element
  min-height: 40vh;

  &__panel {
    width: 100%;
    background-color: $color-main;
  }

  &__panel-inner {
    position: relative;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: 19px 0 14px;

    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      width: 0;
      display: none;
      background: transparent;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    margin-right: rem(50px);
  }

  &__nav-item {
    text-decoration: none;
    color: $white;
    padding: 10px 0 10px;

    &:not(:last-child) {
      margin-right: rem(50px);
    }
  }

  &__dropdown {
    display: flex;
    flex: 0 0 auto;
  }

  &__content {
    padding: 40px 0;

    @media (min-width: $screen-md) {
      padding: 70px 0;
    }
  }

  &__logo {
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 28px;

      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }

  &__top {
    width: 100%;
    max-width: 1107px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      fjustify-content: space-between;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 25px;

    @media (min-width: $screen-md) {
      flex-basis: 50%;
      max-width: 50%;

      &:not(:last-child) {
        padding-right: 20px;
      }
    }

    @media (min-width: $screen-lg) {

      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1107px;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  &__address {
    margin-bottom: 24px;
  }

  &__address-item {
    margin-bottom: rem(10px);
  }

  &__app {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  &__app-item {

    &:not(:last-child) {
      margin-right: 1rem;
    }

    svg {
      fill: rgba($text-color, 0.32);
    }
  }

  &__app-link {
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: $color-main;
    }

    span {
      margin-left: 5px;
    }
  }

  &__app-title {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-md) {
      width: auto;
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }

  &__socials {
    margin-bottom: 24px;
  }

  &__phone {
    color: $text-color;
    font-size: rem(24px);
    margin: 0 0 25px;

    @media (min-width: $screen-md) {
      flex-basis: 50%;
      max-width: 50%;
      font-size: rem(32px);
      margin: 15px 0 55px;

      &:not(:last-child) {
        padding-right: 10px;
      }
    }
  }

  &__phone-title {
    margin-right: 1rem;
  }

  &__phone-link {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-main;
    }
  }

  &__report {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  &__report-link {
    color: $text-color;
    text-decoration: none;
    margin-bottom: rem(10px);

    &:hover,
    &:focus {
      color: $color-main;

      span {
        border-color: $color-main;
      }
    }

    span {
      border-bottom: 1px solid rgba($text-color, 0.2);
    }
  }


  .ui-social__items {
    justify-content: flex-start;
  }
}
