// В этом файле должны быть стили для БЭМ-блока ui-social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ui-social {
  $block-name: &; // #{$block-name}__element

  &__items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {

  }

  &__link {
    display: block;
    margin: auto;
    padding: 0.8rem 1.07rem 0.4rem;
    text-decoration: none;
    position: relative;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;

    &:after {
      content: "";
      display: block;
      height: 0;
      position: absolute;
      bottom: 0;
      right: 1.25rem;
      left: 1.25rem;
      background-color: $color-main;
      transition: all 0.35s cubic-bezier(0.2, 0, 0, 1);
      transform-origin: bottom center;
      z-index: -1;
    }

    &:hover {
      color: #ffffff;

      svg {
        fill: #ffffff;
        stroke: #ffffff;
      }

      &:after {
        right: 0;
        left: 0;
        height: 100%;
      }
    }
  }

  &__icon {
    fill: rgba($text-color, 0.32);
    stroke: rgba($text-color, 0.32);
  }
}
