// В этом файле должны быть стили для БЭМ-блока wrap, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.wrap {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-left: rem(16px);
  padding-right: rem(16px);

  @media (min-width: $screen-md) {
    padding-left: rem(30px);
    padding-right: rem(30px);
  }

  @media (min-width: $screen-xl) {
    padding-left: 0;
    padding-right: 0;
  }
}
