//- Все примеси в этом файле должны начинаться c имени блока (events)

mixin events(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +events('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' events--' + modsList[i].trim();
      }
    }

  section.events(class=allMods)&attributes(attributes)
    .events__inner
      .events__heading
        +heading('Календарь мероприятий')
      .events__grid
        .events__items#events
          - for (i = 0; i <= 10; i++)
            .events__wrap-item
              article.events__item.elevation
                .events__head
                  a.events__day(href='#') 1 день
                  a.events__day(href='#') 2 день
                .events__body
                  .events__date
                    .events__date-item.events__date-item--ball 25 марта, понедельник
                    .events__date-item 13:00
                  h3.events__title Первый образовательный хакатон среди школьников
                  +btn('Участвовать', 'main, size_sm')(href='#')


                div.events__show.text-show
                  svg(viewBox="0 0 200 200")
                    defs
                      mask#mask-ac.text-show__mask(x='0', y='0', width='100%', height='300')
                        text.text-show__name(x='47%', y='35%', fill='#fff') ac

                    image.text-show__img(width="300" height="100", xlink:href='img/news.jpg', mask='url(#mask-ac)', x="0", y="0")


                .events__footer
                  .events__tags
                    +label('Программирование', 'div')
                    +label('ИТ-Академия', 'div')

            .events__wrap-item
              article.events__item.elevation
                .events__head
                  a.events__day(href='#') 1 день
                  a.events__day(href='#') 2 день
                .events__body
                  .events__date
                    .events__date-item.events__date-item--ball 25 марта, понедельник
                    .events__date-item 13:00
                  h3.events__title Первый образовательный хакатон среди школьников
                  +btn('Участвовать', 'main, size_sm')(href='#')


                div.events__show.text-show
                  svg(viewbox='0 0 200 200')
                    defs
                      mask#mask-bi.text-show__mask(x='0', y='0', width='100%', height='300')
                        text.text-show__name(x='53%', y='43%', fill='#fff') bi

                    image.text-show__img(width="300" height="100", xlink:href='img/hero-4.jpg', mask='url(#mask-bi)', x="0", y="0")


                .events__footer
                  .events__tags
                    +label('Программирование', 'div')
                    +label('ИТ-Академия', 'div')
