.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  white-space: nowrap;

  &.focusable {

    &:active,
    &:focus {
      position: static;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
      white-space: normal;
    }
  }
}

