extends pug/layout.pug

block meta
  title Главная IT Park &mdash; Казань
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header('home')
    .page-header__top
      .page-header__panel
        +logo('/')
          img(src='./img/logo-white.png', width='48', height='72', alt='It Park &mdash; Казань')
        +nav-semi()
      .page-header__burger
        +burger()
    +hero-menu()
    +hero-slider()


block content
  +news()

  //- div.card
  //-   svg(viewbox="0 0 100 100")
  //-     defs
  //-       mask#mask-1(x="0" y="0" width="100" height="100")
  //-         text#text(x="50%" y="50%" fill="#fff") ac

  //-     image#image(width="100" height="100" xlink:href="https://source.unsplash.com/random" mask="url(#mask-1)")


block footer
  +page-footer()
    p «Подвал»

//- block page-bottom
//-   script(src="js/some.js")
