extends pug/layout.pug

block meta
  title Главная IT Park &mdash; Казань
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header('home')
    .page-header__top
      .page-header__panel
        +logo('/')
          img(src='./img/logo-white.png', width='48', height='72', alt='It Park &mdash; Казань')
        +nav-semi()
      .page-header__burger
        +burger()
    +hero-menu()
    +hero-slider()


block content
  +news()
  +assistant()
  +events()
  +video-about()
  +partners()

block footer
  +page-footer()
    .page-footer__panel
      .page-footer__panel-inner.wrap
          .page-footer__nav
            a.page-footer__nav-item(href='#') Для граждан
            a.page-footer__nav-item(href='#') Для бизнеса
            a.page-footer__nav-item(href='#') Для стартапов
            a.page-footer__nav-item(href='#') Для госсектора
            a.page-footer__nav-item(href='#') Все разделы
          .page-footer__dropdown
            .ui-dropdown
              select#selectCity.ui-dropdown__select(name='city')
                option(value='') Казань
                option(value='') Наб. Челны
            .ui-dropdown
              select#selectLang.ui-dropdown__select(name='city')
                option(value='') РУС
                option(value='') ENG

//- block page-bottom
//-   script(src='js/some.js')
