extends pug/layout.pug

block meta
  title Главная IT Park &mdash; Казань
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header('home')
    .page-header__top
      .page-header__panel
        +logo('/')
          img(src='./img/logo-white.png', width='48', height='72', alt='It Park &mdash; Казань')
        +nav-semi()
      .page-header__burger
        +burger()
    +hero-menu()
    +hero-slider()


block content
  +news()
  +assistant()
  +events()
  +video-about()

block footer
  +page-footer()
    p(style='min-height: 20vh; font-size: 4rem; padding: 20rem 0;') «Подвал»

//- block page-bottom
//-   script(src="js/some.js")
