// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height: 1.5 !default;

$border-radius: rem(3px) !default;

.field-checkbox {
  $block-name: &; // #{$block-name}__element

  display: block;
  margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;
    transform: translate3d(0, 0, 0);

    &::before {
      content: "";
      position: absolute;
      top: rem(-15px);
      left: rem(-15px);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: rgba(34, 50, 84, 0.03);
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    svg {
      position: relative;
      z-index: 1;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #e0e0e0;
      stroke-width: 1.5;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s ease;
    }

    svg path {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
    }

    svg polyline {
      stroke-dasharray: 22;
      stroke-dashoffset: 66;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      svg {
        stroke: $color-main;
      }
    }
  }

  &__name-text {
    display: block;
    font-family: inherit;
    font-size: rem(13px);
    font-weight: 400;
    margin-left: rem(8px);
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    display: none;

    &:checked + .field-checkbox__name svg {
      stroke: $color-main;
    }

    &:checked + .field-checkbox__name svg path {
      stroke-dashoffset: 60;
      transition: all 0.3s linear;
    }

    &:checked + .field-checkbox__name svg polyline {
      stroke-dashoffset: 42;
      transition: all 0.2s linear;
      transition-delay: 0.15s;
    }
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
